<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.refurbmarket.repository.mapper.CouponMapper">
    <select id="findByIds" resultType="com.refurbmarket.domain.Coupon">
        SELECT id,
        eventId,
        couponType,
        discountType,
        value,
        minOrderPrice,
        maxDiscountPrice,
        maxQuantity,
        issuedQuantity,
        validateStartDate,
        validateEndDate,
        isDuplicateIssuable
        FROM Coupon
        WHERE id IN
        <foreach item="id" collection="idList" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <select id="findByIdAndEventId" resultType="com.refurbmarket.domain.Coupon">
        SELECT id,
               eventId,
               couponType,
               discountType,
               value,
               minOrderPrice,
               maxDiscountPrice,
               maxQuantity,
               issuedQuantity,
               validateStartDate,
               validateEndDate,
               isDuplicateIssuable
        FROM Coupon
        WHERE eventId = #{eventId}
          AND id = #{id}
    </select>
    <update id="updateIssuedQuantity">
        UPDATE Coupon
        SET issuedQuantity = #{coupon.issuedQuantity}
        WHERE id = #{coupon.id}
    </update>
</mapper>
