<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.refurbmarket.repository.mapper.UserMapper">
    <select id="findById" resultType="com.refurbmarket.domain.User">
        SELECT id, name, email, password, phoneNumber
        FROM User
        WHERE id = #{id}
    </select>
    <select id="findByEmail" resultType="com.refurbmarket.domain.User">
        SELECT id, name, email, password, phoneNumber
        FROM User
        WHERE email = #{email}
    </select>
    <select id="findByEmailAndPassword" resultType="com.refurbmarket.domain.User">
        SELECT id, name, email, password, phoneNumber
        FROM User
        WHERE email = #{email}
          AND password = #{password}
    </select>
    <insert id="insertUser">
        INSERT INTO User (email, password, name, phoneNumber)
        VALUES (#{user.email}, #{user.password}, #{user.name}, #{user.phoneNumber})
    </insert>
</mapper>
